try_dash/
migrations/
temp/__pycache__/
static/
airflow/logs/
airflow/plugins/
airflow/airflow-webserver.pid
airflow/airflow.cfg
airflow/airflow.db
airflow/webserver_config.py
mapbox_plotly_token.txt
drafting.ipynb
drafting2.ipynb
functions.ipnb
.env

