<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a href="{% url 'temp:dashboard-view' 'dist' %}"><button class="nav-link {% if viz == 'dist' %}active{% endif %}" id="v-pills-method-tab" data-bs-toggle="pill" data-bs-target="#v-pills-method" type="button" role="tab" aria-controls="v-pills-method" aria-selected="true">Maps</button></a>
      <a href="{% url 'temp:dashboard-view' 'ttest' %}"><button class="nav-link {% if viz == 'ttest' %}active{% endif %}" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">T Test</button></a>
      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
    </div>
</div>
