<h2 style="text-align:center">Conclusion</h2>
<div style="margin-left:20px;font-size: medium;">
    <p style="font-size:medium">
        Based on data analysis and visualizations, we can conclude that the average of both maximum and minimum temperature of 
        cities located in east java are not uniform. The average of minimum and maximum temperature between Kota Mojokerto and Kab. Malang is significantly different according 
        to the t-test result. 
    </p>
    <p style="font-size:medium">
        The workflow orchestration tool &#40;Airflow&#41; is able to manage ETL process in the background which make the data 
        in this web app is dynamically changed everyday. This web app also able to handle dynamic user inputs such as change the map style, do t-test between any 2 cities, and much more
        as long as the constraints are not violated. 
    </p>
    <p style="font-size:medium"> 
        The lifetime of this web app will relied upon free credits from GCP and free API rate limit from mapbox which ensure the functionality of this web app. Once those 
        constraints are violated &#40;such as sudden spike of visitors, expired credits , etc&#41; this web app availability will not guaranteed. 
    </p>
</div>
