{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row align-self-start">
            <div class="col-1">
                {% include 'dashboard_sidebar.html' %}
            </div>
            {% if viz == 'dist' %}
            <div class="col-11">
                {% include 'temp/dashboard_dataviz.html' %}
            </div>
            {% endif %}
            {% if viz == 'ttest' %}
            <div class="col-11">
                {% include 'temp/dashboard_ttest.html' %}
            </div>
            {% endif %}
            {% if viz == 'dataset' %}
            <div class="col-11">
                {% include 'temp/dashboard_dataset.html' %}
            </div>
            {% endif %}
            {% if viz == 'conc' %}
            <div class="col-11">
                {% include 'temp/dashboard_conc.html' %}
            </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}