{% load static %}

<div class="flex-grow-1">
    <h2 style="text-align: center;">HYPOTHESIS</h2>
    <hr>
    <p style="color:red;font-size: medium;"">Based on Research Questions mentioned in previous section, here are the <b>null hypothesis</b> made for this project : </p>
    <ol type="1">
        <li> The average of maximum temperature of Kota Mojokerto and Kab. Malang is equal or not significantly different</li>
        <li> The average of minimum temperature of Kota Mojokerto and Kab. Malang is equal or not significantly different</li>
        <li> The temperature is uniformly distributed accross whole city in East Java</li>
    </ol>
</div>
