<h2>WELCOME</h2>
<p style="font-size: medium;">Hi guys, this web application is intended as capstone project of the <b>Tetris Batch 3 </b>
    Program  organized by <a href="https://dqlab.id/">DQ Lab</a>. In this project i will try to 
    apply my knowledge of  ETL ( Extract, Transform, Load ) and data analysis in order to gain insight of 
    temperature distribution in East Java using dataset obtained from <a href="https://bmkg.go.id/">BMKG</a>. 

    In order to fully understand this project, please kindly check all the sections in left sidebar in ordered fashion. :D
    But, if you just interested to see the data visualization and analysis, go ahead to Dashboard tabs.  Meanwhile, if you are interested to view
    the implementation in code, please visit my github <a href="https://github.com/lurah11/jatim_temp_monitoring">here</a>
</p>

<div>
    <h4>1. Background </h4>
    <p style="font-size: medium;">
        The background of this research is actually not a something big. I am currently living in Mojoketo City (Kota Mojokerto) while my father 
        lives in Malang Regency (Kabupaten Malang). Everytime i visit my father in Malang, the air feels so cold. Sometimes, i even got cold when staying several days in 
        my father house
    </p>
</div>

<div>
    <h4>2. Research Question</h4>
    <ul>
        <li>
            i am interested to know whether the temperature of Malang Regency is actually <b>significantly colder</b> 
            than temperature of Mojokerto City? or this is just <a href="https://www.acurite.com/learn/glossary/feels-like-temperature#:~:text=The%20%22feels%20like%22%20temperature%20is,conditions%20feel%20to%20bare%20skin.">"feels like"</a> temperature 
            and the temperature is actually not significantly different?
        </li>
        <li>
            How about other cities? What is the average temperature distribution looks like?
        </li>
        <li>
            While i am on it, can we expand the application to also visualize the humidity? Can we make this web app 
            more flexible by receiving dynamic input from the users?
        </li>
    </ul>

</div>